<header>
  <div class="container">
    <a href="#" class="logo">Cool App</a>
    <nav>
      <ul>
        <li>
          <a href="#" routerLink="/">Home</a>
        </li>
        <li>
          <a href="#" routerLink="/diet-routine">Diet Routine</a>
        </li>
        <li>
          <a href="#" routerLink="/calculator">Calculator</a>
        </li>
        <li>
          <a href="#" routerLink="/courier">Courier</a>
        </li>
      </ul>
    </nav>
  </div>
</header>

<div class="container">
  <router-outlet></router-outlet>
</div>